  <div class="hidden bg-radical text-white text-xl rounded-md px-4 py-3 mb-2 items-center justify-between" role="alert" id="alert">
    <%= notice %>
    <button type="button" class="ml-2 mb-1 rounded-md text-white transition duration-150 ease-in-out" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>



<script>
  const closeButtons = document.querySelectorAll('[aria-label="Close"]');
  closeButtons.forEach(button => {
    button.addEventListener('click', () => {
      button.parentNode.remove();
    });
  });
</script>
